* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #main-footer{
    text-align: center;
    font-size: 18px;
  
  
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #f1f1f1;
  }
  div#loginForm {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    background: #fafafa;
  }
  input {
    width: 100%;
    padding: 10px;
    height: 30px;
  }
  button {
    border: none;
    cursor: pointer;
    padding: 8px 4px;
    border-radius: 8px;
    width: 60%;
    color: white;
    background-color: #110304;
  }
  #user {
    font-weight: bold;
    font-size: 20px;
    color: #0b0001;
  }
  #loggedIn p {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
  }
  
  ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  
  header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
  }
  
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .btn:hover {
    background: #444;
  }
  
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }